<app-menu-header name="Payments"></app-menu-header>
<ion-content [hidden]="totData">
  <div class="noData">
    <img src="assets/imgs/noData.png" />
    <h2>No Transactions</h2>
  </div>

</ion-content>

<ion-content [hidden]="!totData">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content>
            <p class="nums due">₹ {{store.dueProfits| number : '1.2-2'}}</p>
            <p>Pending Profits</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content>
            <p class="nums total">₹ {{store.totalProfits| number : '1.2-2'}}</p>
            <p>Total Profits</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size="12">

        <ion-card>

          <ion-row class="tableTop wt">
            <ion-col size="12" size-md="4">
              <h2 ion-text text-md-center class="wt">Shop Name</h2>
            </ion-col>
            <ion-col size="12" size-md="4">
              <h2 ion-text text-md-center class="wt">Amount Paid</h2>
            </ion-col>
            <ion-col size="12" size-md="4">
              <h2 ion-text text-md-center class="wt">Paid on</h2>
            </ion-col>



          </ion-row>
          <app-loader *ngIf="showLoader"></app-loader>

          <div class=" noBacki ">
            <ion-row *ngFor="let t of transactions | async">
              <ion-col size="12" size-md="4" class="ion-text-center">
                <ion-button fill="clear" (click)="gtStore(t)">{{t.storeName | uppercase}}
                </ion-button>
              </ion-col>
              <ion-col size="12" size-md="4" class="ion-text-center">
                <ion-badge color="secondary">{{t.amount | number : '1.2-2'}}</ion-badge>
              </ion-col>
              <ion-col size="12" size-md="4" class="ion-text-center">
                <p ion-text color="grr" class="ion-text-center tableText">{{t.timestamp | date : 'short'}}</p>
              </ion-col>

            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>