.nums {
    text-align: center;
    color: #3880ff;
    font-size: 36px;
    font-weight: bolder;
}

.due {
    color: red;
}

.total {
    color: green;
}

ion-card {
    p {
        text-align: center;
    }

    cursor: pointer;
}