<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">Sign In to ALO Vendor</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="this.authService.signIn">

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="pass"></ion-input>
              </ion-item>


              <ion-button class="margin-top" (click)="onSubmit()">Login</ion-button>
            </form>

            <ion-item>
              <ion-button fill="clear" href="/sign-up">Register as a Vendor</ion-button>
            </ion-item>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>