<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">

        <ion-card>
          <img src="assets/imgs/logo.png" class="loginImage" />
          <ion-card-header>
            <ion-card-title color="primary">Sign In to ALO Vendor</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="this.authService.signIn">

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" (keyup.enter)="onSubmit()" formControlName="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" (keyup.enter)="onSubmit()" formControlName="pass"></ion-input>
              </ion-item>


              <ion-button class="ion-margin-vertical" expand="full" (click)="onSubmit()">Login</ion-button>
            </form>

            <ion-button class="ion-margin-vertical" expand="full" fill="clear" href="/sign-up">Register as a Vendor</ion-button>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>