<app-menu-header name="{{name}}"></app-menu-header>

<ion-content>
  <!-- <app-loader *ngIf="" -->
  <ion-card class="banner">
    <img [src]="this.store.bannerImage" />

    <div class="editBtns">
      <ion-button (click)="editBanner()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">

        <ion-item>
          <h3 ion-text color="primary" slot="start">Store Name</h3>
          <h3 slot="end">{{this.store.storeName}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Owner Name</h3>
          <h3 slot="end">{{this.store.ownerName}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Phone Number</h3>
          <h3 slot="end">{{this.store.phonenumber}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Store Category</h3>
          <h3 slot="end">{{this.store.storeCategory}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Store Location</h3>
          <h3 slot="end">{{this.store.StoreLocation}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Email</h3>
          <h3 slot="end">{{this.store.email}}</h3>
        </ion-item>

        <ion-item>
          <h3 ion-text color="primary" slot="start">Status</h3>
          <h3 slot="end">{{this.store.Status}}</h3>
        </ion-item>


        <ion-item>
          <h3 ion-text color="primary" slot="start">Created Date</h3>
          <h3 slot="end">{{this.store.timeStamp | date : 'medium'}}</h3>
        </ion-item>
      </ion-list>


    </ion-card-content>
  </ion-card>
</ion-content>