<app-menu-header></app-menu-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" size-md="2">
                <ion-card>
                    <ion-card-content>
                        <p class="mNum">{{products}}</p>
                        <p class="mText">Products</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" size-md="2">
                <ion-card>
                    <ion-card-content>
                        <p class="mNum">{{orders}}</p>
                        <p class="mText">Pending Orders</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>