.editBtns {
  position: absolute;
  top: 5%;
  right: 5%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

img {
  margin: 20px;
}

.item:hover .imgView {
  opacity: 0.3;
}

.item:hover .editBtns {
  opacity: 1;
}

.loginImage {
  position: relative;
  width: 50%;
  margin: auto;
  left: 25%;
}
