<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <img src="assets/imgs/logo.png" class="loginImage" />
        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">Sign Up as ALO Vendor</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="this.authService.signUp">

              <ion-item>
                <ion-label position="floating">Store Name</ion-label>
                <ion-input type="text" formControlName="storeName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Owner Name</ion-label>
                <ion-input type="text" formControlName="ownerName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="number" formControlName="phonenumber"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Store Category</ion-label>
                <ion-input type="text" formControlName="storeCategory"></ion-input>
              </ion-item>


              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="pass"></ion-input>
              </ion-item>

              <ion-item *ngIf="!img1">
                <ion-label position="floating">Select Image</ion-label>
                <ion-input type="file" (change)="fileChange($event)" class="select"
                  accept="image/x-png,image/gif,image/jpeg" id="file-input" style="opacity: 0" #fileInp></ion-input>
              </ion-item>

              <ion-item *ngIf="img1">
                <img [src]="img1" class="imgView margin" />
                <div class="editBtns">
                  <ion-button class="btnTrash" color="danger" (click)="removeImage()">
                    Remove
                  </ion-button>
                </div>
              </ion-item>


              <ion-item>
                <ion-button (click)="launchLocationPage()">Select Location</ion-button>
              </ion-item>



              <ion-button class="ion-margin-top ion-margin-bottom " (click)="onSubmit()">Register</ion-button>



            </form>

            <ion-item>
              <ion-button fill="clear" href="/login">Login as a Vendor</ion-button>
            </ion-item>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>