<ion-header>
  <ion-item color="danger" *ngIf="unVerified">
    <p slot=start>You are not a verified Seller</p>
    <ion-button (click)="unVerified = false" color="light" slot="end" fill="clear" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">


      <ion-button shape="round" (click)="presentNotifications($ev)">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge fill=clear slot="end">2</ion-badge>
      </ion-button>


      <ion-button fill=clear (click)="gtSettings()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>