<app-menu-header name="{{name}}"></app-menu-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" offset-md="10" size="12" class="ion-float-right">
                <form [formGroup]="this.orderService.orders">
                    <ion-item>
                        <ion-label position="floating">Orders</ion-label>
                        <ion-select formControlName="status" (ionChange)="filterOrder(this.orderService.orders.value.status)">
                            <ion-select-option value="">All</ion-select-option>
                            <ion-select-option value="Pending">Pending</ion-select-option>
                            <ion-select-option value="Out for Delivery">Out for Delivery</ion-select-option>
                            <ion-select-option value="Completed">Completed</ion-select-option>
                        </ion-select>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size="12">
                <ion-card>

                    <ion-row class="tableTop wt">
                        <ion-col size="12" size-md="1">
                        </ion-col>
                        <ion-col size="12" size-md="2">
                            <h2 ion-text text-md-center class="wt">Product Name</h2>
                        </ion-col>
                        <ion-col size="12" size-md="1">
                            <h2 ion-text text-md-center class="wt">Price</h2>
                        </ion-col>
                        <ion-col size="12" size-md="2">
                            <h2 ion-text text-md-center class="wt">Quantity</h2>
                        </ion-col>
                        <ion-col size="12" size-md="2">
                            <h2 ion-text text-md-center class="wt">Status</h2>
                        </ion-col>
                        <ion-col size="12" size-md="2">
                            <h2 ion-text text-md-center class="wt">Amount</h2>
                        </ion-col>
                    </ion-row>
                    <app-loader *ngIf="showLoader"></app-loader>

                    <div class="noData" [hidden]="totData">
                        <img src="assets/imgs/noData.png" />
                        <h2>No Orders yet..!!</h2>
                    </div>


                    <div class=" noBacki " [hidden]="!totData">
                        <ion-row *ngFor="let p of orders | async;let i = index;">
                            <ion-col size="12" size-md="1">
                                <p ion-text color="grr" class="ion-text-center tableText ">{{i+1}}</p>
                            </ion-col>
                            <ion-col size="12" size-md="2">
                                <a [href]="p.payload.doc.data().primaryImage" target="_blank">
                                    <p ion-text class="ion-text-center tableText ">{{p.payload.doc.data().productName | uppercase}}</p>
                                </a>
                            </ion-col>
                            <ion-col size="12" size-md="1">
                                <p ion-text color="grr" class="ion-text-center tableText rs">Rs. {{p.payload.doc.data().prodPrice | number: '1.0-0'}}</p>
                            </ion-col>

                            <ion-col size="12" size-md="2">
                                <p ion-text color="grr" class="ion-text-center tableText">{{p.payload.doc.data().quantity}}</p>
                            </ion-col>

                            <ion-col size="12" size-md="2">
                                <p ion-text color="grr" class="ion-text-center tableText">{{p.payload.doc.data().status}}</p>
                            </ion-col>
                            <ion-col size="12" size-md="2">
                                <p ion-text color="grr" class="ion-text-center tableText rs">Rs. {{p.payload.doc.data().vendorProfit | number: '1.0-0'}}</p>
                            </ion-col>
                            <ion-col size="12" size-md="2" class="ion-text-center">
                                <ion-button size="small" class="ion-text-center" *ngIf="p.payload.doc.data().status == 'Pending'" (click)="deliver(p.payload.doc.id,p.payload.doc.data())">
                                    <p class="btnClass">Deliver</p>
                                </ion-button>
                                <p ion-text color="grr" class="ion-text-center tableText rs " *ngIf="p.payload.doc.data().status == 'Out for Delivery'">Out for Delivery</p>
                                <ion-button size="small" class="ion-text-center" fill="clear" *ngIf="p.payload.doc.data().status == 'Completed'" (click)="details(p.payload.doc.id)">
                                    <p class="btnClass">Details</p>
                                </ion-button>
                            </ion-col>

                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>




</ion-content>