<app-back-header name="{{master.masterName | titlecase}}"></app-back-header>
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-button class="ion-float-end" (click)="addField()">
          <ion-icon name="add" class="ion-margin-end"></ion-icon>
          Add a Field
        </ion-button>
      </ion-col>
    </ion-row>




    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <!-- <ion-card-content> -->

          <ion-row class="tableTop wt">
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Label</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Key</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Order</h2>
            </ion-col>
            <ion-col size="12" size-md="2" class="ion-text-center">
              <h2 ion-text text-md-center class="wt">Actions</h2>
            </ion-col>
          </ion-row>

          <div class=" noBacki ">
            <ion-row *ngFor="let q of questions">

              <ion-col size="12 " size-md="2 ">
                <p ion-text color="grr " class="ion-text-center tableText ">{{q.label}}</p>
              </ion-col>

              <ion-col size="12 " size-md="2 ">
                <p ion-text color="grr " class="ion-text-center tableText ">"{{q.key}}"</p>
              </ion-col>

              <ion-col size="12 " size-md="2 ">
                <p ion-text color="grr " class="ion-text-center tableText ">{{q.order}}</p>
              </ion-col>


              <ion-col size="12 " size-md="2 " class="ion-text-center ">
                <ion-button fill="clear" color="primary" (click)="editField(q)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" (click)="delFieldConfirm(q)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>



            </ion-row>
          </div>


          <!-- </ion-card-content> -->
        </ion-card>
      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>