.activeHighlight {
    border-right: #62775B 2px solid !important;
    color: #62775B;

    ion-icon {
        color: #62775B;
    }
}

.tableTop {
    background: #62775B;
    color: white !important;
}

.tableText {
    font-size: 12px;
}

h2 {
    font-size: 16px;
    color: white;
    font-weight: 600;
}