.activeHighlight {
    border-right: #3880ff 2px solid !important;
    color: #3880ff;

    ion-icon {
        color: #3880ff;
    }
}

.tableTop {
    background: #3880ff;
    color: white !important;
}

.tableText {
    font-size: 12px;
}

h2 {
    font-size: 16px;
    color: white;
    font-weight: 600;
}