<app-menu-header name="{{name}}"></app-menu-header>

<ion-content [hidden]="totProds">
  <div class="noData">
    <img src="assets/imgs/noData.png" />
    <h2>No Products to sell</h2>
  </div>

</ion-content>

<ion-content [hidden]="!totProds">

  <ion-grid>
    <ion-row>
      <ion-col size-md="2" offset-md="10" size="12" class="ion-float-right">

        <form [formGroup]="this.prodService.category">
          <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-select formControlName="name" (ionChange)="filterProd(this.prodService.category.value.name)">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option [value]="c.payload.doc.id" *ngFor="let c of cats | async">{{c.payload.doc.data().name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size="12">
        <ion-card>

          <ion-row class="tableTop wt">
            <ion-col size="12" offset-md="1" size-md="3">
              <h2 ion-text text-md-center class="wt">Product Name</h2>
            </ion-col>
            <ion-col size="12" size-md="1">
              <h2 ion-text text-md-center class="wt">Price</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Quantity</h2>
            </ion-col>
            <ion-col size="12" size-md="2">
              <h2 ion-text text-md-center class="wt">Status</h2>
            </ion-col>
            <ion-col size="12" size-md="1">
              <h2 ion-text text-md-center class="wt">Sales</h2>
            </ion-col>
          </ion-row>
          <app-loader *ngIf="showLoader"></app-loader>

          <div class=" noBacki ">
            <ion-row *ngFor="let p of products | async">
              <ion-col size="12" size-md="1" *ngIf="p.payload.doc.data().status! ='Verified'">
              </ion-col>
              <ion-col size="12" size-md="1" *ngIf="p.payload.doc.data().status=='Verified'">
                <ion-button fill="clear" *ngIf="p.payload.doc.data().setFeatured">
                  <ion-icon name="star"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="12" size-md="3">
                <a [href]="p.payload.doc.data().primaryImage" target="_blank">
                  <p ion-text class="ion-text-center tableText ">{{p.payload.doc.data().name | uppercase}}</p>
                </a>
              </ion-col>
              <ion-col size="12" size-md="1">
                <p ion-text color="grr" class="ion-text-center tableText">Rs. {{p.payload.doc.data().price | number:'1.0-0'}}</p>
              </ion-col>

              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{p.payload.doc.data().quantity}}</p>
              </ion-col>

              <ion-col size="12" size-md="2">
                <p ion-text color="grr" class="ion-text-center tableText">{{p.payload.doc.data().status}}</p>
              </ion-col>
              <ion-col size="12" size-md="1">
                <p ion-text color="grr" class="ion-text-center tableText">{{p.payload.doc.data().sales}}</p>
              </ion-col>


              <!-- <ion-col size="12" size-md="2">
                <ion-button fill="clear" (click)="editProduct(p.payload.doc.id)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" (click)="deleteProduct(p.payload.doc.id,p.payload.doc.data())">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col> -->

              <ion-col size="12" size-md="2">
                <ion-button fill="outline" size="small" class="ion-float-left" (click)="checkProduct(p.payload.doc.id,p.payload.doc.data())">
                  Sell
                </ion-button>
              </ion-col>

            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>