<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upload Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="6" size-md="3">

        <ion-card>
          <label>
            <ion-input type="file" style="display: none;" (change)="fileChange($event)" accept="image/x-png,image/gif,image/jpeg"></ion-input>
            <div class="dumText">
              <p class="add">+</p>
              <p class="selText">Select Image</p>
            </div>
          </label>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let m of images | async " size="6" size-md="3">
        <ion-card class="imageCard">
          <ion-card-content>
            <img [src]="m.payload.doc.data().imageUrl" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-card>

    <ion-item *ngIf="!img1">
      <ion-label position="floating">Select Image</ion-label>
      <ion-input type="file" (change)="fileChange($event)" class="select" accept="image/x-png,image/gif,image/jpeg" id="file-input"
        style="opacity: 0" #fileInp></ion-input>
    </ion-item>

    <div *ngIf="img1">
      <ion-item>
        <img [src]="img1" class="imgView margin" />
        <div class="editBtns">
          <ion-button class="btnTrash" color="danger" (click)="removeImage()">
            Remove
          </ion-button>
        </div>
      </ion-item>

      <ion-button class="margin-top" (click)="updateBanner()">Update</ion-button>
    </div>
  </ion-card> -->



</ion-content>