<app-back-header name="{{name}}"></app-back-header>
<ion-content>

  <ion-item>
    <ion-button slot="end" (click)="pBar()">
      <ion-icon name="md-print" class="ion-margin-right"></ion-icon>
      Print
    </ion-button>
  </ion-item>

  <ion-grid>
    <ion-row>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="createdCode" size-md="3" size="12">
        <ion-card>
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.name}}</p>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>